html {
  background-color: #333;
}

.vitessce-container.vitessce-theme-dark .bg-primary {
  background-color: #222 !important;
}

.vitessce-container.vitessce-theme-dark .bg-secondary {
  background-color: #000 !important;
}